<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Ping Web Monitor</span>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index">Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addForm">
                    Add new group
                </button>
                <button form="delete" type="submit" class="btn btn-danger btn-sm">Delete selected</button>
                <button form="delete" type="reset" class="btn btn-sm">Deselect all</button>
            </div><br>
            <div class="table-block">
                <form id="delete" action="/admin" method="post">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Group</th>
                            <th>Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        % for group in groups:
                        <tr>
                            <td><a href="admin/${group[0]}">${group[1]}</a></td>
                            <td><input type="checkbox" name="delete" value="${group[0]}"></td>
                        </tr>
                        % endfor
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter name of a new group</h4>
            </div>
            <div class="modal-body">
                <form id="add" action="/admin" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="New group name" name="add">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button form="add" type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script>
     $('#delete').submit(function() {
   return confirm("Are you sure?");
  });
</script>
</body>
</html>