<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Admin</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">Ping Web Monitor</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index">Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form id="delete" action="/admin" method="post"></form>
            <div class="panel panel-primary">
                <div class="panel-heading">Groups
                    <div class="btn-group btn-group-panel pull-right">
                        <button form="delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <button form="delete" type="reset" class="btn btn-info btn-sm">Deselect</button>
                    </div>
                    <div class="pull-right">&nbsp;</div>
                    <div class="btn-group btn-group-panel pull-right">
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#addForm">
                            Add
                        </button>
                        <button id="edit_btn" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editForm" disabled="disabled">
                            Edit
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                </div>

                    <table class="table">
                        <tbody>
                        % for group in groups:
                        <tr>
                            <td><a href="admin/${group[0]}">${group[1]}</a></td>
                            <td class="checkbox-col">
                                <input form="delete" class="check" type="checkbox" name="delete" value="${group[0]}">
                            </td>
                        </tr>
                        % endfor
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter name of a new group</h4>
            </div>
            <div class="modal-body">
                <form id="add" action="/admin" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="New group name" name="add">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button form="add" type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter new name for a group</h4>
            </div>
            <div class="modal-body">
                <form id="edit" action="/admin" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="New name" name="edit">
                        <input id="id" type="hidden" name="group_id" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button form="edit" type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/admin.js"></script>

</body>
</html>